h1{
	color:black;
	font-family: 'Bebas Neue', sans-serif ;
	font-size:10vw;

}
div, p, span{
	color:black;
	font-family:  serif;
	/*font-size:5vw;*/
}

html, body { height: 100%; 
	/*background-color: rgba(0,0,0,0.1);*/
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
